.LoginArea > h1 {
    margin-top: 150px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 80px;
    color: white;
    text-align: center;
}

#arrow {
    margin-left: 4px;
    font-size: 47px;
    width: 50px;
    transform: scaleX(1.6);
    color: aquamarine;
}

.login-body {
    margin: 40px auto;
    border: 1px solid aquamarine;
    width: 30%;
    height: 315px;
    border-radius: 5px;
    background-color: rgb(33, 33, 33);
    box-shadow: 0 0 8px darkgray;
}

.head {
    color: aquamarine;
    margin: auto;
    margin-top: 85px;
    border: 1.5px solid aquamarine;
    width: 140px;
    height: 37px;
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    text-align: center;
    padding-top: 8px;
    border-radius: 4px;
}

.Login {
    font-family: 'Libre Baskerville', serif;
    margin: 40px 36%;
    height: 45px;
    width: 26%;
    font-size: large;
    color: aquamarine;
    background-color: rgb(33, 33, 33);
    border: 1px solid aquamarine;
    border-radius: 4px;
}

.section {
    display: flex;
    /* border: 1px solid aquamarine; */
    height: 50px;
}

.inputField {
    color: aquamarine;
    font-family: 'Libre Baskerville', serif;
    height: 35px;
    margin-left: 6.5%;
    width: 65%;
    border: 1px;
    border-bottom: 1px solid aquamarine;
    background-color: rgb(33, 33, 33);
    padding-left: 2.3%;
    font-size: large;
    margin-top: 6px;
}

.email-div {
    margin-top: 50px;
}

.hover-icon {
    color: aquamarine;
    background-color: rgb(70, 70, 70);
    height: fit-content;
    padding: 4px;
    border-radius: 5px;
    font-size: small;
    width: fit-content;
    margin-left:17px;
    margin-top: -8px;
    position: absolute;
}
#passwordie {
    color: aquamarine;
    width: 500px;font-family: 'Libre Baskerville', serif;
    height: 35px;
    margin-left: 6.5%;
    width: 65%;
    border: 1px;
    border-bottom: 1px solid aquamarine;
    background-color: rgb(33, 33, 33);
    padding-left: 2.3%;
    font-size: large;
    margin-top: 6px;
}

.password-div {
    margin-top: 15px;
}

.icon {
    margin-left: 35px;
    background-position: left bottom;
    color: aquamarine;
    font-size: x-large;
    margin-top: 15px;
}
.Login:hover {
    color: rgb(33, 33, 33);
    background-color: aquamarine;
}

.Login:active {
    color: aquamarine;
    background-color: rgb(33, 33, 33);
}

#signup-shortcut {
    color: aquamarine;
    text-align: center;
}

#shortcut-link {
    color: aquamarine;
}

#shortcut-link:hover {
    color: rgb(37, 117, 91);
}
