.LoginArea > h1 {
    margin-top: 150px;
    font-family: 'Martel', serif;
    font-size: 50px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.login-body {
    margin: 38px auto;
    border: 1px solid aquamarine;
    width: 35%;
    height: 40vh;
    border-radius: 5px;
    background-color: rgb(33, 33, 33);
    box-shadow: 0 0 8px darkgray;
}

.section {
    display: flex;
    height: 50px;

}

.email-div {
    margin-top: 40px;
}

.password-div {
    margin-top: 15px;
}

.icon {
    background-position: left bottom;
    color: aquamarine;
    font-size: x-large;
    margin-top: 2.3vh;
    margin-left: 3.3vw;
}

.standard-basic {
    color: white;
    width: 70%;
}

#visibility-of-password {
    height: fit-content;
    margin-top: 1.3vh;
    margin-right: 3.5vw;
    margin-left: -3vw;
    color: aquamarine;
}

#btn-login {
    border-radius: 7px;
    background-color: #21b6ae;
    padding: 12px 24px;
    padding-top: 15px;
    font-size: 15px;
}

#btn-login:hover {
    transform: scale(1.05);
    border-width: 0px;
}

#signup-shortcut {
    color: aquamarine;
    text-align: center;
}

#shortcut-link {
    color: aquamarine;
}